@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body, html {
    background-color: #0d0d0d;
}

.title {
    font-family: "Quicksand", sans-serif;
    font-size: 1000%;
    text-align: center;
    font-weight: 450;
   /* color: #cccccc; */
    color: rgba(230, 230, 230, 0.91);
    line-height: 1;
    opacity: 0.9;
}

.pick_file {
    display: none;
}

.pick_file_label {
    font-size: 4vw;
    text-align: center;
    border-radius: 0.4em;
    padding: 10px 20px;
    background-color: #2d9ed3;
    color: white;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
    margin: 5px 0;
    font-size: 200%;
    color: #f0f0f0;
    width: 90vw;
    border-radius: 0.2em;
}

li:hover {
    background-color: #a19f9f;
    transition: ease-in-out 0.2s;
}

#contentDisplay {
    display: none;
    margin-top: 20px;
    white-space: pre-wrap;
}

#backButton {
    display: none;
}

.section {
    width: 70%;
    height: 100vh;
}

button {
    font-family: "Quicksand", sans-serif;
    font-size: 130%;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 10px 10px;
    border-radius: 0.4em; /* rounded corners */
    width: 10%;
    height: 7%;
}
button:hover {
    background-color: #45a049;
}

#buttonContainer {
    display: flex;
    justify-content: space-between;
}

#buttonContainer button {
    margin: 0 10px;
}